.date-range {
    font-size: 16px;
    transform: translateY(-1px);
    display: inline-block;
    margin-left: 10px;
}

.league-header h1 {
    margin-bottom: 5px;
}

.league-info {
    max-width: 30%;
    position: relative;
}

.delete-button {
    margin-left: 30px;
    max-width: 130px;
    max-height: 40px;
}

.table-container {
    margin-top: 40px;
    width: 500px;
}

.table-container h2 {
    margin-bottom: 5px;
}

.table-container table {
    width: 100%;
}

.table-container button {
    margin-top: 10px;
    /* float: right; */
}

.mat-icon {
    cursor: pointer;
}

#edit-league-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

#delete-league-btn {
    position: absolute;
    top: 40px;
    right: 5px;
}

.action-icon {
    display: inline-block;
    margin: 5px;
}